# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (raw dataset is downloaded, not versioned)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# MLflow
mlruns/
mlartifacts/

# OS / editor
.DS_Store
.vscode/
